.furrytail{
  h1{
    position: absolute;
  }
  .header{
    position: relative;
    padding: 2.4rem 0 2.4rem 4.3rem;
    ul{
      text-align: center;
      float: none;
    }
    li{
      display: inline;
      float: none;
      font-family: EuclidFlex;
      font-size: 20px;
      color: #444;
      letter-spacing: 0.56px;
      line-height: 20px;
      padding: 0 2.5rem;
    }
  }
  .section{
    height: 100vh;
    background: #BFD2E4;
  }
  .byebyefur{
    height: 100vh;
    background: #F3EAE3;
  }
}