{% extends 'layout.twig' %}

{% set title = "furrytail" %}
{% set description = "Furlosophy is the new philosophy." %}
{% set keywords = "furrytail 白白猫窝" %}

{% set styles = ['/build/furrytail/index.css'] %}
{% set scripts = ['/build/furrytail/index.js'] %}
{% set bodyClass = 'furrytail' %}

{% block header %}
  <header class="header cd-clearfix">
    <h1>
      <img src="{{ '/image/logo.png' }}">
      <a href="/" hidefocus="true">
         FURRYTAIL
      </a>
    </h1>
    <ul class="cd-clearfix">
      <li><a class="active" href="/">HOME</a></li>
      <li><a href="/">PRODUCTS</a></li>
      <li><a href="/">ABOUT US</a></li>
      <li><a href="/">CONTACT US</a></li>
    </ul>
  </header>
{% endblock %}

{% block main %}
  <div class="section">
    <div class="cd-md-15 bg-blur">

    </div>
    <div class="cd-md-9 bg-yellowish">

    </div>
  </div>

  <div class="section">
    <div class="cd-md-15 bg-white">

    </div>
    <div class="cd-md-9 bg-yellowish">

    </div>
  </div>
  
  <div class="section">
    <div class="cd-md-15 bg-white">

    </div>
    <div class="cd-md-9 bg-yellowish">

    </div>
  </div>
{% endblock %} 

{% block bottom %}
{% endblock %} 