{% extends 'layout.twig' %}

{% set title = "furrytail" %}
{% set description = "Furlosophy is the new philosophy." %}
{% set keywords = "furrytail 白白猫窝" %}

{% set styles = ['/dist/css/furrytail.css'] %}
{% set scripts = ['/dist/js/furrytail/index.js'] %}
{% set bodyClass = 'furrytail' %}

{% block header %}
  <header class="header cd-clearfix">
    <h1>
      <img src="{{ '/image/logo.png' }}">
      <a href="/" hidefocus="true">
         FURRYTAIL
      </a>
    </h1>
    <ul class="cd-clearfix js-nav">
      <li><a class="active" href="#furlosophy">HOME</a></li>
      <li><a href="#byebyefur">PRODUCTS</a></li>
      <li><a href="#aboot">ABOUT US</a></li>
      <li><a href="#contact">CONTACT US</a></li>
    </ul>
  </header>
{% endblock %}

{% block main %}
<div id="fullpage">
  <div class="section furlosophy" data-anchor="furlosophy">
    <div class="cd-md-15 bg-blue full-screen">
      <div class="cd-md-offset-3 main-top-distant words">
        <div class="title">
          01
        </div>
        <div class="description">
          FURLOSOPHY <br/>
          IS THE NEW PHILOSOPHY
        </div>
        <p class="sub-description">
          Cat conquers the universe, while cat pills conquer cat.
        </p>
        <i class="first-netxt icon cd-icon cd-icon-arrow-down"></i> 
      </div>
    </div>
    <div class="cd-md-9 bg-yellowish full-screen swiper-padding-right swiper-bg">
      <div class="main-top-distant cd-clearfix">
        <img class="pull-right" src="image/furrytail/1/1.jpg">
      </div>
    </div>
  </div>
  <div class="section byebyefur" data-anchor="byebyefur">
    <div class="cd-md-15 bg-white full-screen">
      <div class="cd-md-offset-3 main-top-distant">
        <div class="title">
          ByeByeFur
        </div>
        <div class="description">
          Born to be the only one bed <br/>
          that make you and your cat love at first sight.
        </div>
        <p class="sub-description">
          Redesigned in classical geometry structure with minimalist shape and line. 
          FURRYTAIL initiates the curved shape and silicone tips on FURemover to 
          easily peel off cat hair. Minimalist and squeaky clean solution for cat’s sleeping.
          Just one swipe with FURemover, get rid of shedding hair in one second.
          Minimalist and elegant appearance: like an art piece, easily blend into home décor.
        </p>
        <p class="show">
          <a href="https://item.taobao.com/item.htm?spm=a230r.1.14.27.235c5b6dN5YYHe&id=557628936000&ns=1&abbucket=19#detail" target="_blank"> 
            SHOP NOW 
          </a>
        </p>
      </div>
    </div>
    <div class="cd-md-9 bg-yellowish full-screen swiper-padding-right">
      <div class="main-top-distant cd-clearfix">
        <div class="swiper" id="byebyefur-swiper">
          <div class="swiper-wrapper cd-clearfix">
            <div class="swiper-slide active" 
              data-title="ByeByeFur" 
              data-description="Born to be the only one bed that make you and your cat love at first sight."
              data-sub-description="Redesigned in classical geometry structure with minimalist shape and line. 
                FURRYTAIL initiates the curved shape and silicone tips on FURemover to 
                easily peel off cat hair. Minimalist and squeaky clean solution for cat’s sleeping.
                Just one swipe with FURemover, get rid of shedding hair in one second.
                Minimalist and elegant appearance: like an art piece, easily blend into home décor."
            >
              <img src="image/furrytail/2/1.jpg" >
            </div>
            <div class="swiper-slide"  
              data-title="BYEBYEFUR" 
              data-description="Born to be the only one bed that make you and your cat love at first sight."
              data-sub-description="Product  Size :   43cm / 43cm / 32cm/<br/>
                Product Weight :   2.2kg<br/>
                Color :   Gold / White / Black">
              <img src="image/furrytail/2/2.jpg">
            </div>
            <div class="swiper-slide"              
              data-title="BYEBYEFUR" 
              data-description="Born to be the only one bed that make you and your cat love at first sight."
              data-sub-description="Product  Size :   43cm / 43cm / 32cm/<br/>
                Product Weight :   2.2kg<br/>
                Color :   Gold / White / Black">
              <img src="image/furrytail/2/3.jpg"> 
            </div>
          </div>
        </div> 
        <div class="swiper-btns cd-clearfix">
          <i class="icon cd-icon cd-icon-arrow-left"></i>
          <i class="icon cd-icon cd-icon-arrow-right"></i>
        </div>
      </div> 
    </div>
  </div>
  <div class="section" data-anchor="fooddict">
    <div class="cd-md-15 bg-white full-screen">
      <div class="cd-md-offset-4 main-top-distant">
        <div class="title">
          Fooddict <br/>
          Cat Bowl
        </div>
        <div class="description">
          Hand blown glass，let cats be food addict.
        </div>
        <p class="sub-description">
          Hand blown glass bowl, every piece is unique. The bowl becomes an art piece while reflecting sunshine. Glass will prevent the growing of bacteria which cause folliculitis. With a  two layers design, the taller bowl is used for main meals,  while the lower plate is for wet meal like can food.
        </p>
        <p class="show">
          <a target="_blank" href="https://item.taobao.com/item.htm?spm=2013.1.0.0.126b3778zs8h5c&id=562676349230&scm=1007.12144.102969.42296_42296&pvid=539835d7-33aa-4c80-bcb3-f2d118690dae&utparam=%7B%22x_object_type%22%3A%22item%22%2C%22x_hestia_source%22%3A%2242296%22%2C%22x_object_id%22%3A562676349230%7D&utparam=%7B%22x_object_type%22%3A%22item%22%2C%22x_hestia_source%22%3A%2242296%22%2C%22x_object_id%22%3A562676349230%7D"> 
            SHOP NOW 
          </a>
        </p>
      </div>
    </div>
    <div class="cd-md-9 bg-yellowish full-screen swiper-padding-right">
      <div class="main-top-distant cd-clearfix">
        <div class="swiper" id="fooddict-swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide active"
              data-title="Fooddict <br/>
                Cat Bowl" 
              data-description="Hand blown glass，let cats be food addict."
              data-sub-description="Hand blown glass bowl, every piece is unique. The bowl becomes an art piece while reflecting sunshine. Glass will prevent the growing of bacteria which cause folliculitis. With a  two layers design, the taller bowl is used for main meals,  while the lower plate is for wet meal like can food."
            >
              <img src="image/furrytail/3/1.jpg">
            </div>
            <div class="swiper-slide"
              data-title="Fooddict<br/> Cat Bowl" 
              data-description="Hand blown glass，let cats be food addict."
              data-sub-description="Big bowl :  12cm / 15.6cm<br/>
                Small bowl :  3.5cm / 15.6cm<br/>
                Product Weight :  1.3kg<br/>
                Color :  Blue Gold / Green Gold
                "
            >
              <img src="image/furrytail/3/2.jpg">
            </div>
            <div class="swiper-slide"
              data-title="Fooddict<br/> Cat Bowl" 
              data-description="Hand blown glass，let cats be food addict."
              data-sub-description="Big bowl :  12cm / 15.6cm<br/>
                Small bowl :  3.5cm / 15.6cm<br/>
                Product Weight :  1.3kg<br/>
                Color :  Blue Gold / Green Gold
                ">
              <img src="image/furrytail/3/3.jpg"> 
            </div>
          </div>
        </div> 
        <div class="swiper-btns cd-clearfix">
          <i class="icon cd-icon cd-icon-arrow-left"></i>
          <i class="icon cd-icon cd-icon-arrow-right"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="section" data-anchor="scratcher">
    <div class="cd-md-15 bg-white full-screen">
      <div class="cd-md-offset-4 main-top-distant">
        <div class="title">
          X Cat Scratcher
        </div>
        <div class="description">
          Cat is UNKNOW，while UNKNOW means<br/> everything.
        </div>
        <p class="sub-description">
          The cat scratcher that can extend to infinite combinations and possibilities. 
          With three different connecting components, “X” cat scratcher can be assembled into three different product configurations that fit for different cat scratching habit. 
          The scratching surface is consumable item, therefore it is designed to be easily assembled and replaced when it is well-worn.
        </p>
        <p class="show">
          <a target="_blank" href="https://item.taobao.com/item.htm?spm=2013.1.0.0.58c52fdfi5pgGd&id=566161107858&scm=1007.12144.102969.42296_42296&pvid=13bc49ae-6205-4900-83be-f19d4f5f62b8&utparam=%7B%22x_object_type%22%3A%22item%22%2C%22x_hestia_source%22%3A%2242296%22%2C%22x_object_id%22%3A566161107858%7D&utparam=%7B%22x_object_type%22%3A%22item%22%2C%22x_hestia_source%22%3A%2242296%22%2C%22x_object_id%22%3A566161107858%7D"> 
            SHOP NOW 
          </a>
        </p>
      </div>
    </div>
    <div class="cd-md-9 bg-yellowish full-screen swiper-padding-right">
      <div class="main-top-distant cd-clearfix">
        <div class="swiper" id="test">
          <div class="swiper-wrapper">
            <div class="swiper-slide active"
              data-title="X Cat Scratcher" 
              data-description="Cat is UNKNOW，while UNKNOW means<br/> everything."
              data-sub-description="The cat scratcher that can extend to infinite combinations and possibilities. 
                With three different connecting components, “X” cat scratcher can be assembled into three different product configurations that fit for different cat scratching habit. 
                The scratching surface is consumable item, therefore it is designed to be easily assembled and replaced when it is well-worn.
                ">
              <img src="image/furrytail/4/1.jpg">
            </div>
            <div class="swiper-slide"              
              data-title="X Cat Scratcher" 
              data-description="Cat is UNKNOW，while UNKNOW means<br/> everything."
              data-sub-description="The cat scratcher that can extend to infinite combinations and possibilities. 
                With three different connecting components, “X” cat scratcher can be assembled into three different product configurations that fit for different cat scratching habit. 
                The scratching surface is consumable item, therefore it is designed to be easily assembled and replaced when it is well-worn.
                ">
              <img src="image/furrytail/4/2.jpg">
            </div>
            <div class="swiper-slide"             
              data-title="X Cat Scratcher" 
              data-description="Cat is UNKNOW，while UNKNOW means<br/> everything."
              data-sub-description="The cat scratcher that can extend to infinite combinations and possibilities. 
                With three different connecting components, “X” cat scratcher can be assembled into three different product configurations that fit for different cat scratching habit. 
                The scratching surface is consumable item, therefore it is designed to be easily assembled and replaced when it is well-worn.
                ">
              <img src="image/furrytail/4/3.jpg"> 
            </div>
          </div>
        </div> 
        <div class="swiper-btns cd-clearfix">
          <i class="icon cd-icon cd-icon-arrow-left"></i>
          <i class="icon cd-icon cd-icon-arrow-right"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="section" data-anchor="pills">
    <div class="cd-md-15 bg-white full-screen">
      <div class="cd-md-offset-4 main-top-distant">
        <div class="title">
          Cat Pills
        </div>
        <div class="description">
          Cat conquers the universe, while cat pills<br/> conquer cat.
        </div>
        <p class="sub-description">
          Original source of cat mint from Taiwan organic farm, 
          proven effect better than 99% other cat mints on marketplace. 
          Creative capsule packaging design, one pill at a time, 
          allow cats to enjoy fresh intake every time. Exclusive  merino wool ball design, 
          with storage room inside each ball that can collect cat mints. 
          The most elegant and clean way to intake cat mints, no spilling around on the ground. 
          Classy addiction for cat.
        </p>
        <p class="show">
          <a target="_blank" href="https://item.taobao.com/item.htm?spm=2013.1.20141002.4.512c7a78MnnUY7&scm=1007.10009.70205.100200300000001&id=557632311417&pvid=9d28d6ad-aae2-449f-aa30-84aa97acb6bb"> 
            SHOP NOW 
          </a>
        </p>
      </div>
    </div>
    <div class="cd-md-9 bg-yellowish full-screen swiper-padding-right">
      <div class="main-top-distant cd-clearfix">
        <div class="swiper" id="byebyefur-swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide active"              
              data-title="Cat Pills" 
              data-description="Cat conquers the universe, while cat pills<br/> conquer cat."
              data-sub-description="Original source of cat mint from Taiwan organic farm, 
                proven effect better than 99% other cat mints on marketplace. 
                Creative capsule packaging design, one pill at a time, 
                allow cats to enjoy fresh intake every time. Exclusive  merino wool ball design, 
                with storage room inside each ball that can collect cat mints. 
                The most elegant and clean way to intake cat mints, no spilling around on the ground. 
                Classy addiction for cat.
                ">
              <img src="image/furrytail/5/1.jpg">
            </div>
            <div class="swiper-slide"              
              data-title="Cat Pills" 
              data-description="Cat conquers the universe, while cat pills conquer cat."
              data-sub-description="25 pills + 1 cat ball<br/>
                Packaging size :  25.1cm/29cm/6cm<br/>
                Total weight :  0.8kg<br/>
                ">
              <img src="image/furrytail/5/2.jpg">
            </div>
            <div class="swiper-slide"              
              data-title="Cat Pills" 
              data-description="Cat conquers the universe, while cat pills conquer cat."
              data-sub-description="25 pills + 1 cat ball<br/>
                Packaging size :  25.1cm/29cm/6cm<br/>
                Total weight :  0.8kg<br/>
                ">
              <img src="image/furrytail/5/3.jpg"> 
            </div>
          </div>
        </div>
        <div class="swiper-btns cd-clearfix">
          <i class="icon cd-icon cd-icon-arrow-left"></i>
          <i class="icon cd-icon cd-icon-arrow-right"></i>
        </div>
      </div>
      <div class="swiper-btns cd-clearfix">
        <i class="icon cd-icon cd-icon-arrow-left"></i>
        <i class="icon cd-icon cd-icon-arrow-right"></i>
      </div>
    </div>
  </div>

  <div class="section" data-anchor="addiction">
    <div class="cd-md-15 bg-white full-screen">
      <div class="cd-md-offset-4 main-top-distant">
        <div class="title">
          Addiction Cat Mint
        </div>
        <div class="description">
          Mini package of the Cat Pills cat mint
        </div>
        <p class="sub-description">
          Original source of cat mint from Taiwan organic farm, 
          proven effect better than 99% other cat mints on marketplace. 
          Creative capsule packaging design, one pill at a time, 
          allow cats to enjoy fresh intake every time. Exclusive  merino wool ball design, 
          with storage room inside each ball that can collect cat mints. 
          The most elegant and clean way to intake cat mints, no spilling around on the ground. 
          Classy addiction for cat.
        </p>
        <p class="show">
          <a target="_blank" href="https://item.taobao.com/item.htm?spm=2013.1.0.0.79e46d5dRErx6x&id=566141266289&scm=1007.12144.102969.42296_42296&pvid=0090c8a4-e110-4c70-99a4-d3e83e781472&utparam=%7B%22x_object_type%22%3A%22item%22%2C%22x_hestia_source%22%3A%2242296%22%2C%22x_object_id%22%3A566141266289%7D&utparam=%7B%22x_object_type%22%3A%22item%22%2C%22x_hestia_source%22%3A%2242296%22%2C%22x_object_id%22%3A566141266289%7D"> 
            SHOP NOW 
          </a>
        </p>
      </div>
    </div>
    <div class="cd-md-9 bg-yellowish full-screen swiper-padding-right">
      <div class="main-top-distant cd-clearfix">
        <div class="swiper" id="byebyefur-swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide active"
              data-title="Addiction Cat Mint" 
              data-description="Mini package of the Cat Pills cat mint"
              data-sub-description="Original source of cat mint from Taiwan organic farm, 
                  proven effect better than 99% other cat mints on marketplace. 
                  Creative capsule packaging design, one pill at a time, 
                  allow cats to enjoy fresh intake every time. Exclusive  merino wool ball design, 
                  with storage room inside each ball that can collect cat mints. 
                  The most elegant and clean way to intake cat mints, no spilling around on the ground. 
                  Classy addiction for cat.
                ">
              <img src="image/furrytail/6/1.jpg">
            </div>
            <div class="swiper-slide"
              data-title="Addiction Cat Mint" 
              data-description="Mini package of the Cat Pills cat mint"
              data-sub-description="1 pills + 1 cat ball<br/>
                Packaging size : 10cm / 9cm / 6.5cm<br/>
                Total weight : 0.1kg<br/>
                ">
              <img src="image/furrytail/6/2.jpg">
            </div>
            <div class="swiper-slide"
              data-title="Addiction Cat Mint" 
              data-description="Mini package of the Cat Pills cat mint"
              data-sub-description="1 pills + 1 cat ball<br/>
                Packaging size : 10cm / 9cm / 6.5cm<br/>
                Total weight : 0.1kg<br/>
                ">
              <img src="image/furrytail/6/3.jpg"> 
            </div>
          </div>
        </div>
        <div class="swiper-btns cd-clearfix">
          <i class="icon cd-icon cd-icon-arrow-left"></i>
          <i class="icon cd-icon cd-icon-arrow-right"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="section" data-anchor="aboot">
    <div class="cd-md-15 bg-yellowish full-screen">
      <div class="cd-md-offset-4 main-top-distant">
        <div class="title">
          About Us
        </div>
        <div class="description">
          FURRYTAIL<br/>
          Furlosophy is the new philosophy.
        </div>
        <p class="sub-description">
          Established in London, FURRYTAIL PET PRODUCTS Co,Ltd is dedicated to bring new lifestyle to pets' daily life with good design and hign quality products.
          The industrial designers, graduated from St Martin's School of Art，University College London, MIT.etc，adopt classical geometry as designing language to build a simple while powerful brand image. 
          FURRYTAIL insists on the mutualistic lifestyle between human and pet, insists on providing 'Affordable design with good taste'. Our goal is that more and more pets owner can enjoy better design and higher quality in a lower price.
        </p>
        <p class="show">
          <a> 
            SHOP NOW 
          </a>
        </p>
      </div>
    </div>
    <div class="cd-md-9 bg-blue full-screen swiper-padding-right">
      <div class="main-top-distant cd-clearfix">
        <div class="swiper" id="byebyefur-swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide active"
              data-title="About Us" 
              data-description=" FURRYTAIL<br/>
          Furlosophy is the new philosophy."
              data-sub-description="Established in London, FURRYTAIL PET PRODUCTS Co,Ltd is dedicated to bring new lifestyle to pets' daily life with good design and hign quality products.
          The industrial designers, graduated from St Martin's School of Art，University College London, MIT.etc，adopt classical geometry as designing language to build a simple while powerful brand image. 
          FURRYTAIL insists on the mutualistic lifestyle between human and pet, insists on providing 'Affordable design with good taste'. Our goal is that more and more pets owner can enjoy better design and higher quality in a lower price.
                ">
              <img src="image/furrytail/7/1.jpg">
            </div>
            <div class="swiper-slide"
              data-title="About Us" 
              data-description="Shooting Projects"
              data-sub-description="FURRYTAIL provide not only physical products for pets, but also entertaining contents for the pets' owners. Through different shooting projects and storytelling system, FURRYTAIL are building strong connection with the young generation.
The latest shooting project called < Cats' Kingdom >, is building a wonderland all focus on cats. Cute little cats and imaginative setting with creative products placement, this project is making a big success among young pets owners. And this is just a beginning.
                ">
              <img src="image/furrytail/7/2.jpg">
            </div>
            <div class="swiper-slide"
              data-title="About Us" 
              data-description="Shooting Projects"
              data-sub-description="FURRYTAIL provide not only physical products for pets, but also entertaining contents for the pets' owners. Through different shooting projects and storytelling system, FURRYTAIL are building strong connection with the young generation.
The latest shooting project called < Cats' Kingdom >, is building a wonderland all focus on cats. Cute little cats and imaginative setting with creative products placement, this project is making a big success among young pets owners. And this is just a beginning.
                ">
              <img src="image/furrytail/7/3.jpg"> 
            </div>
          </div>
        </div>
        <div class="swiper-btns cd-clearfix">
          <i class="icon cd-icon cd-icon-arrow-left"></i>
          <i class="icon cd-icon cd-icon-arrow-right"></i>
        </div>
      </div>
      <div class="swiper-btns cd-clearfix">
        <i class="icon cd-icon cd-icon-arrow-left"></i>
        <i class="icon cd-icon cd-icon-arrow-right"></i>
      </div>
    </div>
  </div>

  <div class="section contact" data-anchor="contact">
    <div class="cd-md-15 bg-blue full-screen">
      <div class="cd-md-offset-4 main-top-distant">
        <div class="title">
          Contact Us
        </div>
        <div class="description">
          +86（0571）8288 0846<br/>
          +86 157 5713 5614<br/>
          freyalian@furrytail-pet.com<br/>
        </div>
      </div>
    </div>
    <div class="cd-md-9 bg-yellowish full-screen swiper-bg">
      <div class="main-top-distant cd-clearfix">
        <img src="image/furrytail/8/1.jpg">
      </div>
    </div>
  </div>
</div>
{% endblock %} 

{% block bottom %}
{% endblock %} 