{% extends 'layout.twig' %}

{% set title = "furrytail" %}
{% set description = "Furlosophy is the new philosophy." %}
{% set keywords = "furrytail 白白猫窝" %}

{% set styles = ['/build/furrytail/index.css'] %}
{% set scripts = ['/build/furrytail/index.js'] %}
{% set bodyClass = 'furrytail' %}

{% block header %}
  <header class="header cd-clearfix">
    <h1>
      <img src="{{ '/image/logo.png' }}">
      <a href="/" hidefocus="true">
         FURRYTAIL
      </a>
    </h1>
    <ul class="cd-clearfix">
      <li><a class="active" href="/">HOME</a></li>
      <li><a href="/">PRODUCTS</a></li>
      <li><a href="/">ABOUT US</a></li>
      <li><a href="/">CONTACT US</a></li>
    </ul>
  </header>
{% endblock %}

{% block main %}
  <div class="section">
    <div class="cd-md-15 bg-blur">
      <div class="">
        01
      </div>
      <div class="">
        FURLOSOPHY <br/>
        IS THE NEW PHILOSOPHY
      </div>
      <p>
        Cat conquers the universe, while cat pills conquer cat.
      </p>
    </div>
    <div class="cd-md-9 bg-yellowish">
      <img src="image/furrytail/2/2.jpg">
    </div>
  </div>

  <div class="section">
    <div class="cd-md-15 bg-white">
      <div class="">
        ByeByeFur
      </div>
      <div class="">
        Born to be the only one bed <br/>
        that make you and your cat love at first sight.
      </div>
      <p>
        Redesigned in classical geometry structure with minimalist shape and line. 
        FURRYTAIL initiates the curved shape and silicone tips on FURemover to 
        easily peel off cat hair. Minimalist and squeaky clean solution for cat’s sleeping.
        Just one swipe with FURemover, get rid of shedding hair in one second.
        Minimalist and elegant appearance: like an art piece, easily blend into home décor.
      </p>
      <p>
        <a> 
          SHOP NOW 
        </a>
      </p>
    </div>
    <div class="cd-md-9 bg-yellowish">
       <img src="image/furrytail/2/1.jpg">
    </div>
  </div>
  
  <div class="section">
    <div class="cd-md-15 bg-white">
      <div class="">
        Fooddict <br/>
        Cat Bowl
      </div>
      <div class="">
        Hand blown glass，let cats be food addict.
      </div>
      <p>
        Hand blown glass bowl, every piece is unique. The bowl becomes an art piece while reflecting sunshine. Glass will prevent the growing of bacteria which cause folliculitis. With a  two layers design, the taller bowl is used for main meals,  while the lower plate is for wet meal like can food.
      </p>
      <p>
        <a> 
          SHOP NOW 
        </a>
      </p>
    </div>
    <div class="cd-md-9 bg-yellowish">
      <img src="image/furrytail/3/1.jpg">
    </div>
  </div>
  <div class="section">
    <div class="cd-md-15 bg-white">
    </div>
    <div class="cd-md-9 bg-yellowish">
    </div>
  </div>
  <div class="section">
    <div class="cd-md-15 bg-white">
    </div>
    <div class="cd-md-9 bg-yellowish">
    </div>
  </div>
  <div class="section">
    <div class="cd-md-15 bg-blur">
    </div>
    <div class="cd-md-9 bg-yellowish">
    </div>
  </div>
{% endblock %} 

{% block bottom %}
{% endblock %} 