{% extends 'layout.twig' %}
{% set styles = ['/build/furrytail/index.css'] %}
{% set scripts = ['/build/furrytail/index.js'] %}
{% set bodyClass = 'furrytail' %}

{% block header %}
  <header class="header cd-clearfix">
    <h1>
      FURRYTAIL
    </h1>
    <ul class="cd-clearfix">
      <li><a href="/">HOME</a></li>
      <li><a href="/">PRODUCTS</a></li>
      <li><a href="/">ABOUT US</a></li>
      <li><a href="/">CONTACT US</a></li>
    </ul>
  </header>
{% endblock %}

{% block main %}
  <div class="section">
  </div>

  <div class="section byebyefur">
  </div>
{% endblock %} 

{% block bottom %}
{% endblock %} 