<header class="header clearfix">
  <div class="col-md-6">
    <h1>
      <span class="red">{{ user.get('nickname') }}J</span><span class="yellow">a</span><span class="green">y</span>
    </h1>
    <ul>
      <li><a href="/">首页</a></li>
    </ul>
  </div>

  <div class="col-md-6">
  </div>
</header>