{% extends 'layout.twig' %}
{% set lang = 'en' %}
{% set title = "furrytail" %}
{% set description = "Furlosophy is the new philosophy." %}
{% set keywords = "furrytail 白白猫窝" %}
{% set scripts = ['/dist/js/index/index.js'] %}

{% block main %}
  <div class="main clearfix container">
    <div class="col-md-9">
      <div class="article-list">
        {% for article in articles %}
          <div class="item">
            <div class="title text-overflow">
              <a href="{{ path('article_detail', {id: article.id}) }}">{{ article.title }}</a>
            </div>
            <div class="summary">
              {{ article.content|filter_html|substr(150) }}
            </div>
            <div class="meta">
              <span><i class="iconfont blog-time"></i>{{ article.create_time|date('Y年m月d日 H:i') }}</span>
              <span><i class="iconfont blog-view text-md"></i>3123</span>
              {# <span>喜欢数</span> #}
            </div>
          </div>
        {% endfor %}
      </div>        
    </div>
    <div class="col-md-3">
      {# <div class="card">
        <div class="cd-card-image">
          <img class="cd-full" src="image/joker.jpg" alt=""/>
        </div>
        <div class="cd-card-body">敏捷估算扑克</div>
      </div> #}
    </div>
  </div>
{% endblock %} 