<!DOCTYPE html>
<html lang="zh_CN">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
  <meta name="renderer" content="webkit">
  <meta name="viewport"
    content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <title>
    easy
  </title>
  <meta name="keywords" content="koa node nginx webpack es6"/>
  <meta name="description" content="企业应用级框架">
  
  <link href="/static/app.css" rel="stylesheet">
  <link rel="icon" href="" type="image/x-icon"/>
  <link rel="shortcut icon" href="/" type="image/x-icon" media="screen"/>
</head>

<body class="{{ bodyClass|default('') }}">
{% block body %}
  <div>
    {% block header %}
    {% endblock %}

    {% block main %}
    {% endblock %} 

    {% block bottom %}
      <footer class="footer">
        
      </footer>
    {% endblock %}
  </div>
  <div id="login-modal" class="modal" data-url=""></div>
  <div id="modal" class="modal"></div>
{% endblock %}
</body>
</html>