<!DOCTYPE html>
<html lang="zh_CN">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
  <meta name="renderer" content="webkit">
  <meta name="viewport"
    content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <title>
    easy
  </title>
  <meta name="keywords" content="koa node nginx webpack es6"/>
  <meta name="description" content="企业应用级框架">
  <link href="/build/app.css" rel="stylesheet">
  {% for style in styles|default('') %}
    <link href="{{ style }}" rel="stylesheet">
  {% endfor %}
  <link rel="icon" href="" type="image/x-icon"/>
  <link rel="shortcut icon" href="/" type="image/x-icon" media="screen"/>
</head>

<body class="{{ bodyClass|default('') }}">
{% block body %}
  {% block header %}
    <header class="header cd-clearfix">
      <div class="cd-md-6">
        <h1>
          <span class="red">E</span><span class="yellow">a</span><span class="green">s</span><span class="blue">y</span>
        </h1>
        <ul>
          <li><a href="/">首页</a></li>
        </ul>
      </div>
      <div class="cd-md-6">
      </div>
    </header>
  {% endblock %}

  {% block main %}
  {% endblock %} 

  {% block bottom %}
    <footer class="footer">
      <div class="copyright text-center">
        Copyright © 2011-2018 easy 版本 1.0.0<br>
        <a href="" class="cd-link-assist" rel="nofollow">浙ICP备 xxxx</a> &nbsp;
        <a target="_blank" href="" class="cd-link-assist" rel="nofollow">浙公网安备 xxxxxxx号</a>
      </div>
    </footer>
  {% endblock %}
  <div id="login-modal" class="modal" data-url=""></div>
  <div id="modal" class="modal"></div>
{% endblock %}
  <script src="/build/common.js"></script>
  <script src="/build/app.js"></script>
  {% for script in scripts|default('') %}
    <script src="{{ script }}"> </script>
  {% endfor %}
</body>
</html>